# OS files
.DS_Store

# Logs
logs
*.log

### node etc ###

# Dependency directorys
node_modules/
client/bower_components/

### heroku files we don't want to pull down ###
Dockerfile
docker-compose.yml

# DB URI and API Keys
.env